<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "sidebar", book: @book, user: @user %>
      </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(100,100) %>
            </td>
            <td>
              <%= @book.title %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <% if current_user == @book_user %>
            <td>
              <%= link_to "edit", edit_book_path(@book.id),class:"btn btn-success btn-sm" %>
            </td>
            <td>
              <%= link_to "destroy", book_path(@book.id),class:"btn btn-danger btn-sm", method: :delete, "date-confirm" => "本当に削除しますか？" %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
